<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zorbel.apptfg" >

    <uses-sdk android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".programs.PoliticalProgramIndexActivity"
            android:label="@string/title_activity_political_program_index" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".programs.SectionViewerActivity"
            android:label="@string/title_activity_section_viewer" />
        <activity
            android:name=".programs.CommentsSectionActivity"
            android:label="@string/title_activity_comments_section" />
        <activity
            android:name=".proposals.ProposalsActivity"
            android:label="@string/title_activity_proposals" >
        </activity>
        <activity
            android:name=".categories.CategoriesListActivity"
            android:label="@string/title_activity_comparatives" >
        </activity>
        <activity
            android:name=".proposals.NewProposalActivity"
            android:label="@string/title_activity_new_proposal" >
        </activity>
        <activity
            android:name=".programs.ProgramsActivity"
            android:label="@string/title_activity_programs" >
        </activity>
        <activity
            android:name=".proposals.CategorizedProposalsActivity"
            android:label="@string/title_activity_categorized_proposals" >
        </activity>
        <activity
            android:name=".categories.CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name=".proposals.ProposalViewerActivity"
            android:label="@string/title_activity_proposal_viewer" >
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name=".programs.CategorizedProgramsActivity"
            android:label="@string/title_activity_categorized_programs" >
        </activity>
        <activity
            android:name=".collaborate.CollaborativeProposalsActivity"
            android:label="@string/title_activity_collaborate" >
        </activity>
        <activity
            android:name=".proposals.CommentsProposalActivity"
            android:label="@string/title_activity_comments_proposal" >
        </activity>
        <activity
            android:name=".collaborate.EditWaveActivity"
            android:label="@string/title_activity_edit_wave" >
        </activity>
        <activity
            android:name=".collaborate.CategorizedCollaborativeProposalsActivity"
            android:label="@string/title_activity_categorized_collaborative_proposals" >
        </activity>
    </application>

</manifest>
